@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior:"smooth";
}


@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937]
  }

    h1,h2,h3,h4,h5,h6 {
      @apply font-bold
    }

    h1{
      @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
      @apply text-3xl  
    }

    li {
      @apply cursor-pointer
    }
    
    p{
      @apply font-medium
    }

    button {
      @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }

    Link .active{
  @apply color: #5651e5;
}
}

/* 
body{
  background-color:#ecf0f3 ;
  color: red ;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
} */
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  bg-[#56f65]
} */
